<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/css/about.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>Thông tin</title>
</head>
<body>
    <div class="header">
        <h1 class="Title">Question Answering WEB</h1>
        <ul class="menu">
            <a href="/home"><i class="fas fa-home"></i> Home</a>
        </ul>
    </div>
    <h2>THÀNH VIÊN NHÓM</h2>
    <div id="container">
        <div class="member">
            <img src="/static/img/Thinh.jpg"></img>
            <div class="member-name">Huỳnh Hải Đăng</div>
            <div class="member-id">19120468</div>
        </div>
        <div class="member">
            <img src="/static/img/Thinh.jpg"></img>
            <div class="member-name">Nguyễn Minh Tân</div>
            <div class="member-id">19120648</div>
        </div>
        <div class="member">
            <img src="/static/img/Thinh.jpg"></img>
            <div class="member-name">Nguyễn Vạn Thịnh</div>
            <div class="member-id">19120668</div>
        </div>
    </div>
</body>
</html>