<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/css/about.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div id="container">
        <h1>THÀNH VIÊN NHÓM</h1>
        <div class="member">
            <img src="/static/img/Thinh.jpg"></img>
            <div class="member-name">Huỳnh Hải Đăng</div>
            <div class="member-id">19120468</div>
        </div>
        <div class="member">
            <img src="/static/img/Thinh.jpg"></img>
            <div class="member-name">Nguyễn Minh Tân</div>
            <div class="member-id">19120648</div>
        </div>
        <div class="member">
            <img src="/static/img/Thinh.jpg"></img>
            <div class="member-name">Nguyễn Vạn Thịnh</div>
            <div class="member-id">19120668</div>
        </div>
    </div>
</body>
</html>