<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/376af8290d.js" crossorigin="anonymous"></script>
    <title>QA Web</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Question Answering WEB</a></div>
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div class="content" id="10001a">
            <div class="box-left" id="10001b">
                <div class="input-box question-box">
                    <form method="post" id="QA-form">
                        <input type="text" name="question" required id="question-input" value="{{ ques }}"></input>
                        <input type="submit" value="Go" onclick="onClick()"></input>
                    </form>
                    <span class="title">Question: </span>
                </div>
                <div class="input-box">
                    <textarea disabled>{{ans["answer"]}}</textarea>
                    <span class="title">Answer: </span>
                </div>
            </div>
            <div class="box-right" id="10001c">
                <div class="input-box context-box">
                    <textarea disabled id="ans">{{ans["text"]}}</textarea>
                    <span class="title">Context: </span>
                </div> 
                <div class="input-box info-box">
                    <textarea disabled>Score: {{ans["score"]}}
Start: {{ans["start"]}} 
End: {{ans["end"]}}</textarea>
                </div> 
            </div>
        </div> 
        <div class="container" id="10001d">

            <div class="h1Container">
          
              <div class="cube h1 w1 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w1 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w1 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w2 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w2 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w2 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w3 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w3 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w3 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
            </div>
            
            <div class="h2Container">
          
              <div class="cube h2 w1 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w1 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w1 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w2 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w2 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w2 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w3 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w3 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w3 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
            </div>
            
            <div class="h3Container">
          
              <div class="cube h3 w1 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w1 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w1 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w2 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w2 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w2 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w3 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w3 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w3 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
            </div>
            
          </div> 
    </header>
    
    <script src="/static/js/main.js"></script>
    <script>
        let box_left = document.getElementById("10001b");
        let box_right = document.getElementById("10001c");
        let _content = document.getElementById('10001a');

        function onClick(){
            box_left.style.display = "none";
            box_right.style.display = "none";

            let div_loading = document.getElementById('10001d');
            div_loading.classList.add("active");
        }
        

    </script>
</body>
</html>